<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
          <% @images.each do |image| %>
            <% if image.user_id == current_user.id %>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <%= link_to image, class: "portfolio-link" do %>
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <%= image_tag image.image_url.to_s, class: "img-responsive" %>
                <% end %>
                <div class="portfolio-caption">
                    <h4><%= image.image_path %></h4>

                    <p class="text-muted"><%= link_to 'Editar', edit_image_path(image) %> | <%= link_to 'Deletar', image, method: :delete, data: { confirm: 'Tem certeza?' } %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-bottom affix">
        <div class="container" style="text-align: center;">
          <%= link_to 'Nova Imagem', new_image_path, class: "btn btn-success", style: "color:#FFF;" %><br>
        </div>
    </div>
</section>
