<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

<div align="center" style="vertical-align: middle;">
  <%= image_tag @image.image_url.to_s, style: "max-width: 30%;"%>
  <%= image_tag @image.image_url.to_s, id: "pre", style: "max-width: 30%;"%>
  <%= image_tag @image.image_url.to_s, id: "post", style: "max-width: 30%;"%>



  <%= image_tag @new_path %>

  <p>
    <strong>Nome:</strong>
    <%= @image.image_path %>
  </p>

  <%= link_to 'Processamento', processings_path %> |
  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>

<%= render 'layouts/footer' %>

<script type="text/javascript">
  $( document ).ready(function() {

    $(".sk-folding-cube").hide();

    var success = function( data ) {
      var src = '<%= File.dirname(@image.image_url)+"/"+File.basename(@image.image_url,".*")+"_pre.jpg" %>?'+ new Date().getTime();;
      $('#pre').attr("src", src);

      var src = '<%= File.dirname(@image.image_url)+"/"+File.basename(@image.image_url,".*")+"_post.jpg" %>?'+ new Date().getTime();;
      $('#post').attr("src", src);
      $(".sk-folding-cube").hide();

    };

    var ajax_process_image = function(imgId, dispersion, variance, median, watershed_ime,
      watershed_opencv, merge, dispT, dispJ, varT, varJ, medJ, watT, merT, merR, merJ) {
      $(".sk-folding-cube").show();
      $.ajax({
        url: "../../send_parameters",
        data: {
          dispersion: dispersion,
          variance: variance,
          median: median,
          watershed_ime: watershed_ime,
          watershed_opencv: watershed_opencv,
          merge: merge,
          dispT: dispT,
          dispJ: dispJ,
          varT: varT,
          varJ: varJ,
          medJ: medJ,
          watT: watT,
          merT: merT,
          merR: merR,
          merJ: merJ,
          imgId: imgId
        },
        dataType: 'json',
        type: 'GET',
        crossDomain: true
      }).success(success)
      .error(function(xhr, status, error) {
        console.log(error);
        console.log(xhr);
      });
    };

    var load_filters = function() {
      var dispersion = $('#exDisp-enabled')[0].checked;
      var variance = $('#exVar-enabled')[0].checked;
      var median = $('#exMed-enabled')[0].checked;
      var watershed_ime = $('#watershedIME-enabled')[0].checked;
      var watershed_opencv = $('#watershedOpencv-enabled')[0].checked;
      var merge = $('#exMerge-enabled')[0].checked;
      var dispT = $('#dispT').attr('value');
      var dispJ = $('#dispJ').attr('value');
      var varT = $('#varT').attr('value');
      var varJ = $('#varJ').attr('value');
      var medJ = $('#medJ').attr('value');
      var watT = $('#watT').attr('value');
      var merT = $('#merT').attr('value');
      var merR = $('#merR').attr('value');
      var merJ = $('#merJ').attr('value');
      var imgId = <%= @image.id %>
      ajax_process_image(imgId, dispersion, variance, median, watershed_ime,
        watershed_opencv, merge, dispT, dispJ, varT, varJ, medJ, watT, merT, merR, merJ);
    }

    $('#apply').on('click', load_filters);

    var success_processings = function( data ) {
      $('#save_container').removeClass("open")
    };

    var ajax_save_process = function(name, dispersion, variance, median, watershed_ime,
      watershed_opencv, merge, dispT, dispJ, varT, varJ, medJ, merT, merR) {
      $.ajax({
        url: "../../save_parameters",
        data: {
          processing:{
            name:name,
            disp_enable: dispersion,
            var_enable: variance,
            median_enable: median,
            wat_ime_enable: watershed_ime,
            wat_opencv_enable: watershed_opencv,
            merge_enable: merge,
            dispT: dispT,
            dispJ: dispJ,
            varT: varT,
            varJ: varJ,
            medJ: medJ,
            merT: merT,
            merJ: merR
          }
        },
        dataType: 'json',
        type: 'GET',
        crossDomain: true
      }).success(success_processings)
      .error(function(xhr, status, error) {
        console.log(error);
        console.log(xhr);
      });
    };

    var save_filters = function(name) {
      var dispersion = $('#exDisp-enabled')[0].checked;
      var variance = $('#exVar-enabled')[0].checked;
      var median = $('#exMed-enabled')[0].checked;
      var watershed_ime = $('#watershedIME-enabled')[0].checked;
      var watershed_opencv = $('#watershedOpencv-enabled')[0].checked;
      var merge = $('#exMerge-enabled')[0].checked;
      var dispT = $('#dispT').attr('value');
      var dispJ = $('#dispJ').attr('value');
      var varT = $('#varT').attr('value');
      var varJ = $('#varJ').attr('value');
      var medJ = $('#medJ').attr('value');
      var merT = $('#merT').attr('value');
      var merR = $('#merR').attr('value');
      var name = $('#nome_processamento')[0].value;
      ajax_save_process(name, dispersion, variance, median, watershed_ime,
        watershed_opencv, merge, dispT, dispJ, varT, varJ, medJ, merT, merR);
    }

    $('#save').on('click', save_filters);



  });
</script>
