<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

<div align="center" style="vertical-align: middle;">
  <%= image_tag @image.image_url.to_s, style: "max-width: 30%;"%>
  <%= image_tag @image.image_url.to_s, id: "pre", style: "max-width: 30%;"%>
  <%= image_tag @image.image_url.to_s, id: "post", style: "max-width: 30%;"%>



  <%= image_tag @new_path %>

  <p>
    <strong>Nome:</strong>
    <%= @image.image_path %>
  </p>

  <%= link_to 'Processamento', processings_path %> |
  <%= link_to 'Editar', edit_image_path(@image) %> |
  <%= link_to 'Voltar', images_path %>

  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Disp enable</th>
        <th>Var enable</th>
        <th>Median enable</th>
        <th>Wat ime enable</th>
        <th>Wat opencv enable</th>
        <th>Merge enable</th>
        <th>Dispt</th>
        <th>Dispj</th>
        <th>Vart</th>
        <th>Varj</th>
        <th>Medj</th>
        <th>Watt</th>
        <th>Mert</th>
        <th>Merj</th>
      </tr>
    </thead>

    <tbody>
      <% @processings.each do |processing| %>
        <tr>
          <td><input type="radio" name="proc" value="<%= processing.id %>"></td>
          <td><%= processing.name %></td>
          <td><%= processing.disp_enable %></td>
          <td><%= processing.var_enable %></td>
          <td><%= processing.median_enable %></td>
          <td><%= processing.wat_ime_enable %></td>
          <td><%= processing.wat_opencv_enable %></td>
          <td><%= processing.merge_enable %></td>
          <td><%= processing.dispT %></td>
          <td><%= processing.dispJ %></td>
          <td><%= processing.varT %></td>
          <td><%= processing.varJ %></td>
          <td><%= processing.medJ %></td>
          <td><%= processing.watT %></td>
          <td><%= processing.merT %></td>
          <td><%= processing.merJ %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= render 'layouts/footer' %>
<%= render 'images/process_image' %>
<%= render 'images/save_processing' %>
