<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @processing.name %>
</p>

<p>
  <strong>Disp enable:</strong>
  <%= @processing.disp_enable %>
</p>

<p>
  <strong>Var enable:</strong>
  <%= @processing.var_enable %>
</p>

<p>
  <strong>Median enable:</strong>
  <%= @processing.median_enable %>
</p>

<p>
  <strong>Wat ime enable:</strong>
  <%= @processing.wat_ime_enable %>
</p>

<p>
  <strong>Wat opencv enable:</strong>
  <%= @processing.wat_opencv_enable %>
</p>

<p>
  <strong>Merge enable:</strong>
  <%= @processing.merge_enable %>
</p>

<p>
  <strong>Dispt:</strong>
  <%= @processing.dispT %>
</p>

<p>
  <strong>Dispj:</strong>
  <%= @processing.dispJ %>
</p>

<p>
  <strong>Vart:</strong>
  <%= @processing.varT %>
</p>

<p>
  <strong>Varj:</strong>
  <%= @processing.varJ %>
</p>

<p>
  <strong>Medj:</strong>
  <%= @processing.medJ %>
</p>

<p>
  <strong>Watt:</strong>
  <%= @processing.watT %>
</p>

<p>
  <strong>Mert:</strong>
  <%= @processing.merT %>
</p>

<p>
  <strong>Merj:</strong>
  <%= @processing.merJ %>
</p>

<%= link_to 'Edit', edit_processing_path(@processing) %> |
<%= link_to 'Back', processings_path %>
